.prof_pic {
  width: 50px;
  object-fit: contain;
  height: 50px;
  margin-right: 5px;
  border-radius: 25px;
  vertical-align: middle;
}
.input {
  border: none;
  margin-left: 5px;
  margin-right: 50px;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 15x0px;
  color: black;
}
.button {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: white;
  background-color: rgb(4, 4, 227);
  border: none;
  border-radius: 30px;
}

.shadow {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  width: 450px;
  border-radius: 6px;
}